<div class="list card article-card">
  <div class="item item-avatar">
    <img ng-src="{{v.author.pic}}">
    <h2><a href="#/article/{{k}}">{{v.title}}</a></h2>
    <p>{{v.author.name}}</p>
  </div>

  <img class="item item-image full-image" ng-src="images/banner.jpg">

  <div class="item item-body">
    <p>
      {{v.content}}
    </p>
    <p>
      <a href="#" class="subdued">{{v.score || 0}} <ng-pluralize count="v.score" when="{'0': 'Likes', '1' : 'Like', 'other' : 'Likes'}"></ng-pluralize></a>
      <a href="#" class="subdued">3 Comments</a>
    </p>
  </div>


  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="" ng-hide="downvoted(v)" ng-click="upVoteFeed(k, upVoted(v))">
      <i class="icon ion-ios7-heart-outline"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-ios7-chatbubble-outline"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-ios7-redo-outline"></i>
      Share
    </a>
  </div>
</div>