<div class="list card">
  <div class="item item-avatar">
    <img ng-src="{{feed.author.pic}}">
    <h2 class="royal"><b>{{feed.author.name}}</b></h2>
    <p>{{feed.dateCreated | date:'fullDate'}}</p>
  </div>
  <div class="item item-body">
    <h2 class="royal"><b><a href="#/post/{{feed.id}}">{{feed.title}}</a></b></h2>
    <p>
      {{feed.content}}
    </p>
  </div>

  <!-- voting tabs! -->
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="" ng-click="upvote(feed.id)">
      <i class="icon ion-chevron-up"></i>
      Upvote
    </a>
    <a class="tab-item" href="" ng-click="downvote(feed.id)">
      <i class="icon ion-chevron-down"></i>
      Downvote
    </a>
    <a class="tab-item" href="#/post/{{feed.id}}">
      <i class="icon ion-compose"></i>
      Answer
    </a>
  </div>
</div>