<div class="list article-card">
  <div class="item item-avatar">
    <img ng-src="{{feed.author.pic}}">
    <h2 class="royal"><a href="#/post/{{feed.id}}"><b>{{feed.title}}</b></a></h2>
    <p>by: {{feed.author.name}} | posted: {{feed.dateCreated | date:'fullDate'}}</p>
  </div>
  <img class="item item-image full-image" ng-src="images/banner.jpg">
  <div class="item item-body">
    <p>
      {{feed.content | excerpt:160}}
    </p>
  </div>
  
  <!-- voting tabs! -->
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a ng-controller="VoteCtrl" class="tab-item" href="" ng-click="upvote(feed.id)">
      <i class="icon ion-chevron-up"></i>
      Upvote
    </a>
    <a ng-controller="VoteCtrl" class="tab-item" href="" ng-click="downvote(feed.id)">
      <i class="icon ion-chevron-down"></i>
      Downvote
    </a>
    <a class="tab-item" href="#/post/{{feed.id}}">
      <i class="icon ion-compose"></i>
      Answer
    </a>
  </div>

</div>