<div class="list card">
  <div class="item item-avatar">
    <img ng-src="{{feed.author.pic}}">
    <h2 class="royal"><b>{{feed.author.name}}</b></h2>
    <p>{{feed.dateCreated | date:'fullDate'}}</p>
  </div>
  <div class="item item-body">
    <h2 class="royal"><b><a href="#/post/{{feed.id}}">{{feed.title}}</a></b></h2>
    <p>
      {{feed.content}}
    </p>
  </div>

  <!-- voting tabs! -->
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a ng-controller="HomeCtrl" class="tab-item" href="" ng-click="upvote(feed.id)">
      <i class="icon ion-chevron-up"></i>
      Upvote
    </a>
    <a ng-controller="HomeCtrl" class="tab-item" href="" ng-click="downvote(feed.id)">
      <i class="icon ion-chevron-down"></i>
      Downvote
    </a>
    <a class="tab-item" href="#/post/{{feed.id}}">
      <i class="icon ion-compose"></i>
      Answer
    </a>
  </div>

  <!-- answers section -->
  <div ng-show="feed.answers">
    <div class="item item-avatar comment" ng-repeat="(answerID, answer) in feed.answers">
      <img ng-src="{{answer.author.pic}}">
      <h2>{{answer.author.name}}</h2>
      <p>{{answer.content}}</p>
    </div>
  </div>
</div>

<p class="energized" ng-show="answerForm.content.$invalid && !answerForm.content.$pristine">
  <b>Answer content must be atleast 30 characters.</b>
</p>

<h3>Your Answer:</h3> 
<form name="answerForm" ng-submit="answerQuestion(answerForm.$valid)">
  <div class="list">
    <label class="item item-input">
      <textarea name="content" style="height:100px" placeholder="Type your answer here" ng-model="answer.content" required ng-minlength="30"></textarea>
    </label>
  </div>

  <button type="submit" class="button button-royal" ng-disabled="answerForm.$invalid">
    Post Your Answer
  </button>
</form>
