<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-view title="'Welcome to Ellen'">
      <ion-content class="center login" has-bouncing="true">
        <img class="full-image logo" src="images/logo.png" />
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="user.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="user.password">
          </label>
          <button ng-click="login()" class="button button-block button-dark-blue icon-left">
            <i class="icon ion-ios7-unlocked padding-horizontal"></i>
            Login
          </button>
          
        </div>
        <p class="login-p">
          New User?<a href="#/register" class="login-register energized"> Register Now!</a>
        </p>
      </ion-content>
      <!-- <ion-content has-header="true"  padding="true">
        <fieldset>
          <legend>Oauth</legend>
          <p>
            <button class="btn btn-lg btn-primary" ng-click="login('facebook')">Facebook</button>
            <button class="btn btn-lg btn-primary" ng-click="login('twitter')">Twitter</button>
          </p>
        </fieldset>

        
        <p>&nbsp;</p>
        <form role="form">
          <fielset>
            <legend>Email/Password</legend>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>email</label><tt>email = {{email1}}</tt><br/>
                  <input class="form-control" type="text" ng-model="email1" />
                </div>

                <div class="form-group">
                  <label>password</label>
                  <input class="form-control" type="password" ng-model="pass" />
                </div>

                <div class="form-group" ng-show="createMode">
                  <label>confirm pass</label>
                  <input class="form-control" type="password" ng-model="confirm" />
                </div>

                <button class="btn btn-primary" ng-click="loginPassword()" ng-hide="createMode">Log In</button>
                <button class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
                <button class="btn btn-success" ng-show="createMode" ng-click="createAccount()">Create Account</button>
                <button class="btn btn-default" ng-show="createMode" ng-click="createMode = false">Cancel</button>
              </div>
            </div>
          </fielset>
        </form>
        <br />
        <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>

      </ion-content> -->
      
    </ion-view>
  </ion-pane>
  <ng-include src="'views/inc/side-left.html'"></ng-include>
</ion-side-menus>

<!-- wait for auth to resolve (avoid flashing login page before redirect -->
