<ion-side-menus >
  <ion-pane ion-side-menu-content>
    <ion-view  title="'News Feed'" left-buttons="leftButtons">
      <ion-content has-header="true" padding="true">
      <!-- start content -->
      <div ng-repeat="(k,v) in feeds" ng-switch on="v.type">
        <div ng-switch-when="article">
          <div ng-include="'views/inc/afeed.html'"></div>
        </div>
        <div ng-switch-when="question">
          <div ng-include="'views/inc/qfeed.html'"></div>
        </div>
      </div ng-repeat>
    <!-- end content -->
      </ion-content>
    </ion-view>
  </ion-pane>
<ng-include src="'views/inc/sidebar.html'"></ng-include>
</ion-side-menus>