<ion-side-menus>
  <ion-pane ion-side-menu-content>
      <ion-nav-bar animation="nav-title-slide-ios7" 
           type="bar-royal" 
           back-button-type="button-icon" 
           back-button-icon="ion-chevron-left"></ion-nav-bar>
      <ion-view  title="feed.title" left-buttons="leftButtons">
        <ion-content has-header="true" padding="true" ng-switch on="feed.type">
          <div ng-switch-when="question">
            <ng-include src="'views/inc/feed__q--full.html'"></ng-include>
          </div>
          <div ng-switch-when="article">
              <div ng-include="'views/inc/feed__a--full.html'"></div>
            </div>
        </ion-content>
      </ion-view>
    </ion-pane>
    <ng-include src="'views/inc/side-left.html'"></ng-include>
  <!-- <ion-side-menu side="left"></ion-side-menu> -->
</ion-side-menus>
