<ion-side-menus >
  <ion-pane ion-side-menu-content>
    <ion-view  title="question.title" left-buttons="leftButtons">
      <ion-content has-header="true" padding="true">
      <!-- start content -->
      <div class="list card">
        <div class="item item-avatar">
          <img ng-src="{{question.author.pic}}">
          <h2>{{question.author.name}}</h2>
          <p>{{question.created | date:'fullDate'}}</p>
        </div>

        <div class="item item-body">
          <p>
            {{question.content}}
          </p>
          <p>
            <a href="#" class="subdued">{{question.score}} <ng-pluralize count="question.score" when="{'0': 'Likes', '1' : 'Like', 'other' : 'Likes'}"></ng-pluralize></a>
            <a href="#" class="subdued">{{question.answerCount}} <ng-pluralize count="question.answerCount" when="{'0': 'No answer yet', '1' : 'Answer', 'other' : 'Answers'}"></ng-pluralize></a>
          </p>
        </div>
        
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="" ng-click="upVoteFeed(upVoted(question))">
            <i class="icon ion-ios7-heart-outline"></i>
            Like
          </a>
          <a class="tab-item" href="#/question/{{k}}">
            <i class="icon ion-ios7-chatbubble-outline"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios7-redo-outline"></i>
            Share
          </a>
        </div>
      </div>
      <div ng-show="question.answers">
        <h2>Answers:</h2>
        <div ng-repeat="(answerId, answer) in question.answers">
          <div class="card">
            <div class="item item-body">
              <p>
                {{answer.content}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <form ng-submit="answerQuestion()">
      <div class="list">
        <label class="item item-input">
          <textarea style="height:100px" placeholder="Type your answer here" ng-model="answer.content"></textarea>
        </label>
      </div>

      <button type="submit" class="button button-positive">
        Submit Answer
      </button>
      </form>
    <!-- end content -->
      </ion-content>
    </ion-view>
  </ion-pane>
<ng-include src="'views/inc/sidebar.html'" ></ng-include>
</ion-side-menus>

