<ion-side-menus >
  <ion-pane ion-side-menu-content>
    <ion-view  title="question.title" left-buttons="leftButtons">
      <ion-content has-header="true" padding="true" has-footer="true" class="article">
        <div class="item item-image">
          <img ng-src="images/banner.jpg" />
        </div>
        <div class="item item-avatar">
          <img ng-src="images/319885_448812831809748_686101519_n.jpg">
          <h2>{{article.title}}</h2>
          <p>{{article.author.name}}</p>
        </div>
        <div class="item item-body">
          <p>
            {{article.content}}
          </p>
        </div>

        
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="" ng-click="upVoteFeed(upVoted(article))">
            <i class="icon ion-ios7-heart-outline"></i>
            {{article.score || 0}} <ng-pluralize count="article.score" when="{'0': 'Likes', '1' : 'Like', 'other' : 'Likes'}"></ng-pluralize></a>
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios7-chatbubble-outline"></i>
            {{article.commentCount}} <ng-pluralize count="article.commentCount" when="{'0': 'No Comments yet', '1' : 'Comment', 'other' : 'Comments'}"></ng-pluralize>
          </a>
          <!-- 
          <a class="tab-item" href="#">
            <i class="icon ion-ios7-redo-outline"></i>
            Share
          </a> -->
        </div>
        <div ng-show="question.answers">
        <h2>Comments:</h2>
        <div ng-repeat="(commentId, comment) in article.answers">
          <div class="item item-avatar comment">
            <img ng-src="{{comment.author.pic}}">
            <h2>{{comment.author.name}}</h2>
            <p> {{comment.content}}</p>
          </div>
        </div>
      </div>

      </ion-content>

      <ion-footer-bar class="bar bar-footer bar-light padding-left">
        <form class="row" ng-submit="commentOn()">
          <input id="query" name="query" type="text" placeholder="Write a comment" class="col padding-horizontal" ng-model="comment.content" />
          <input type="submit" value="Comment" class="col col-25 button button-dark"/>
        </form>
      </ion-footer-bar>
    </ion-view>
  </ion-pane>
<ng-include src="'views/inc/sidebar.html'" ></ng-include>
</ion-side-menus>

