<ion-side-menus >
  <ion-pane ion-side-menu-content>
    <ion-view title="'Profile'" left-buttons="leftButtons">
      <ion-content has-bouncing="true" class="profile" has-header="true">

      <div class="list card card-full-width">
        <div class="item item-body center">
          <img ng-src="{{user.pic}}" class="circle">
          <h2>{{ user.name }}</h2>
          <p>{{ user.location.name }}</p>
        </div>
      </div>

      <div class="card card-full-width">
        <a class="item item-icon-left dark-bg light" href="#">
          <i class="icon ion-ios7-help-outline energized"></i>
          {{questionsCount}} Questions
        </a>
      </div>

      <div ng-repeat="(id, question) in questions">
        <div class="card">
          <div class="item item-body">
            <p>
              <b>{{question.title}}</b> : {{question.content}}
            </p>
            <p>
              <a href="#" class="subdued">{{question.score || 0}} <ng-pluralize count="question.score" when="{'0': 'Likes', '1' : 'Like', 'other' : 'Likes'}"></ng-pluralize></a>
              <a href="#" class="subdued">{{question.answerCount}} <ng-pluralize count="question.answerCount" when="{'0': 'No answer yet', '1' : 'Answer', 'other' : 'Answers'}"></ng-pluralize></a>
            </p>
          </div>
        </div>
      </div>

      <div class="card card-full-width">
        <a class="item item-icon-left dark-bg light" href="#">
          <i class="icon ion-ios7-help-outline energized"></i>
          {{articlesCount}} Articles
        </a>
      </div>
      <div ng-repeat="article in articles">
        <div class="card">
          <div class="item item-body">
            <p>
              <b>{{article.title}}</b> : {{article.content}}
            </p>
            <p>
              <a href="#" class="subdued">{{article.score || 0}} <ng-pluralize count="article.score" when="{'0': 'Likes', '1' : 'Like', 'other' : 'Likes'}"></ng-pluralize></a>
              <a href="#" class="subdued">{{article.answerCount}} <ng-pluralize count="article.answerCount" when="{'0': 'No answer yet', '1' : 'Answer', 'other' : 'Answers'}"></ng-pluralize></a>
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="card card-full-width">
        <a class="item item-icon-left dark-bg light" href="#">
          <i class="icon ion-ios7-checkmark-outline energized"></i>
          32 Answers
        </a>
      </div>

      <div class="card">
        <div class="item item-body">
          <p>
            What makes you fall in mart women, you should know your rights especially the meaning
            of Lorem ipsum dolor sit ametin..
          </p>
          <div class="card">
            <div class="item item-icon-left">
              <i class="icon ion-help gray"></i> 
              <p>What are the chaldskjfei weir lksdf sldui?</p>

            </div>
          </div>
          <p>
            <a href="#" class="subdued">12 Likes</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="item item-body">
          <p>
            What makes you fall in mart women, you should know your rights especially the meaning
            of Lorem ipsum dolor sit ametin..
          </p>
          <div class="card">
            <div class="item item-icon-left">
              <i class="icon ion-help gray"></i> 
              <p>What are the chaldskjfei weir lksdf sldui?</p>

            </div>
          </div>
          <p>
            <a href="#" class="subdued">12 Likes</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="item item-body">
          <p>
            What makes you fall in mart women, you should know your rights especially the meaning
            of Lorem ipsum dolor sit ametin..
          </p>
          <div class="card">
            <div class="item item-icon-left">
              <i class="icon ion-help gray"></i> 
              <p>What are the chaldskjfei weir lksdf sldui?</p>

            </div>
          </div>
          <p>
            <a href="#" class="subdued">12 Likes</a>
          </p>
        </div>
      </div> -->

      </ion-content>
    </ion-view>
  </ion-pane>
<ng-include src="'views/inc/sidebar.html'" ></ng-include>
</ion-side-menus>
